@model OjayFood.Areas.Admin.Models.ProductListViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="~/Areas/Admin/Content/css/styles.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>Products</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a data-href="@Url.Action("Action", "Product")" class="data-btn btn btn-success" data-toggle="modal" data-target="#actionModal"><i class="material-icons">&#xE147;</i> <span>Add New Product</span></a>
                        <a href="#deleteProductModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Mfg_Date</th>
                        <th scope="col">Exp_Date</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Products != null)
                    {
                        foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>
                                    @product.Name
                                </td>
                                <td>
                                    @product.Price
                                </td>
                                <td>
                                    @product.Mfg_Date
                                </td>
                                <td>
                                    @product.Exp_Date
                                </td>
                                <td>
                                    @product.Category
                                </td>
                                <td>
                                    @product.Description
                                </td>
                                <td>
                                    <button data-href="@Url.Action("Action", "Product", new { Id = product.Id })" type="button" class="data-btn btn btn-success" data-toggle="modal" data-target="#actionModal"><i class="fa-solid fa-pen mr-1"></i>Edit</button>
                                    <button data-href="@Url.Action("Delete", "Product", new { Id = product.Id })" type="button" class="data-btn btn btn-danger" data-toggle="modal" data-target="#actionModal"><i class="fa-solid fa-trash-can mr-1"></i>Delete</button>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            @*<div class="row">
                    <div class="col col-lg-12">
                        @{
                            Html.RenderPartial("_Listing", Model);
                        }
                    </div>
                </div>*@
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="actionModal" class="modal fade" style="height:auto; width:50%; position:center">
        <div class="modal-dialog" role="document">

        </div>
    </div>

    <!-- Delete Modal HTML -->
    <div id="deleteProductModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Product</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete these Records?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index",
            new { page = x, category = Model.CurrentCategory }))
    </div>

</body>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
            type: "get",
        })
        .done(function (response) {
            $("#actionModal").html(response);
        });
    });




    $(document).ready(function () {
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function () {
            if (this.checked) {
                checkbox.each(function () {
                    this.checked = true;
                });
            } else {
                checkbox.each(function () {
                    this.checked = false;
                });
            }
        });
        checkbox.click(function () {
            if (!this.checked) {
                $("#selectAll").prop("checked", false);
            }
        });
    });



</script>

