@using OjayFood.Models.Home;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/MainLayout.css" rel="stylesheet" />
    @*<script src="https://widget.northeurope.cloudapp.azure.com:9443/v0.1.0/mobile-money-widget-mtn.js"></script>*@

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <h1><a href="#">Online <span>Food Shopping Store</span></a></h1>
                    <p>My Shop</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                @*<div class="account">
                       <ul>
                           <li>
                               <div class="hidden-xs">
                                   <h4><a>Call</a></h4>
                                   <p>018##-######</p>
                               </div>

                               <div class="visible-xs">

                                   <p>018##-######</p>
                               </div>

                           </li>
                       </ul>

                    </div>*@

                <ul class="nav navbar-nav navbar-right">
                    @if (User.IsInRole("Administrator"))
                    {
                        <li><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                    }
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cart(3) <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (Session["cart"] != null)
                            {
                                foreach (Item item in (List<Item>)Session["cart"])
                                {
                                    <li><a href="@Url.Action("RemoveFromCart", "Home", new { productId = item.Product.Id})"> @item.Product.Name (@item.Quantity) <i class="fa fa-times"></i></a></li>
                                }
                            }
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Checkout", "Home")">Checkout</a></li>
                        </ul>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="nav-menus">

                    <ul class="nav nav-pills">
                        <li class="active"><a style="border-radius:initial;" href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" style="border-radius:initial;" href="#">Menu <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Drinks</a></li>
                                <li><a href="#">Bundle</a></li>
                                <li><a href="#">Essentials</a></li>
                            </ul>
                        </li>
                        <li><a style="border-radius:initial;" href="#">About</a></li>
                    </ul>
                </div>
            </div>

        </div>


        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-12 copyright">

                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - OjayFood. All right reserved.</p>
                    </div>

                    <div class="col-md-6 col-sm-6 copyright-right">

                        <ul class="list-unstyled list-social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
